{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<h1>Liste des jeux</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Joueur min</th>
            <th>Joueur Max</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.minPlayers }}</td>
                <td>{{ game.maxPlayers }}</td>
                <td>
                    <a class="badge badge-warning" href="{{ path('app_admin_game_edit', {id: game.id}) }}"><i class="fa fa-edit"></i></a>
                    <a class="badge badge-danger" href="{{ path('app_admin_game_delete', {id: game.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun jeu n'est enregistré</td>
                </tr>
        {% endfor %}
                
        </tbody>
    </table>
{#    <h1>Liste des Joueur</h1>#}
{#    <table class="table table-bordered">#}
{#        <thead class="thead-dark">#}
{#        <tr>#}
{#            <th>ID</th>#}
{#            <th>pseudo</th>#}
{#            <th>email</th>#}
{#            <th>voir le joueur</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for player in players %}#}
{#            <tr>#}
{#                <td>{{ player.id }}</td>#}
{#                <td>{{ player.nickname }}</td>#}
{#                <td>{{ player.email }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('show', { id: player.id }) }}">#}
{#                        <button class="btn btn-primary">Voir le joueur</button>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td clospan="4">Aucun jeu n'est enregistré</td>#}
{#            </tr>#}
{#        {% endfor %}#}

{#        </tbody>#}
{#    </table>#}
{#    {% if player %}#}
{#    <h2>detail du joueur: Pseudo : {{ player.nickname }}, Email : {{  player.email }}</h2>#}
{#    {% endif %}#}
{% endblock %}
